PORT=3002
FLIGHT_SERVICE_PATH=http://localhost:3000
EXCHANGE_NAME=skyroute
REMINDER_BINDING_KEY=notification
MESSAGE_BROKER_URL=amqp://localhost
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=skyroute_bookings
