PORT=3003
EMAIL_ID=
EMAIL_PASS=
EXCHANGE_NAME=skyroute
REMINDER_BINDING_KEY=notification
MESSAGE_BROKER_URL=amqp://localhost
BROKER_RETRY_MS=5000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=skyroute_notifications
